* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: #f6f6f6;
}


.cantanier {
    border: 2px solid orange;
    background-color: #f85606;
    height: 90px;
    cursor: pointer;
}

.navtext {
    display: flex;
    padding-left: 70px;
    margin-top: 5px;
}

.navtext p {
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: white;

}

.images {
    /* border: 2px solid black; */
    display: flex;
    width: 200px;


}

.images img {
    width: 120px;
    height: 48px;
    padding-left: 90px;
    margin-top: 10px;
}

.searchbar input {
    margin-top: 15px;
    margin-left: 30px;
    width: 800px;
    height: 40px;
    background-color: #fff;
    border-radius: 12px;
    border: none;
    padding: 20px 20px;

}

.login {
    /* border: 2px solid black; */
    padding-left: 15px;
    padding-top: 25px;
    cursor: pointer;
}
/* .login:hover{
    transform: scale(1.5);
} */

.login a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login a:hover {
    border: none;
    /* background-color: white; */
    
    color: black;


}

.signup {
    padding-left: 15px;
    padding-top: 25px;
    /* border: 2px solid black; */
    font-weight: bold;
    cursor: pointer;
}

.signup a {
    text-decoration: none;
    color: white;

}

.signup a:hover {
    border: none;
    background-color: white;
    color: black;


}

.icon {
    padding-left: 10px;
    padding-top: 25px;
    cursor: pointer;
}


.icon i {
    color: white;

}

.icon2 i {
    color: white;
    padding-left: 20px;
    padding-top: 25px;

}

.language {
    /* border: 2px solid black; */
    /* padding-left: 80px; */
    padding-top: 28px;
    padding-left: 20px;



}

.language i {
    color: white;


}
.main{
    display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
  

}
.cart{
    background-color:white;
    border: 0.5px solid #757575;
    border-radius: 20px;
    width: 240px;
    height: 344px;
    margin-right:10px;
  
    
    
}
.cart ul li{
    display: flex;
    justify-content:flex-start;
    padding-top: 12px;
    color: #757575;
  
}
.cartimage{
  
    /* background-color: rgb(45, 255, 3); */
    /* border: 2px solid black; */
    width: 900px;
    height: 344px;
   
}
.cartimage img{
    width: 900px;
    height: 344px;
    border-radius: 20px;
}
.suptext{
    background-color: #FFF1EB;
/* border: 2px solid black; */
width: 83%;
height: 50px;
margin-left:112px;
margin-top: 30px;
cursor: pointer;

}
.safeicon{
    /* padding-left: 50px; */
}
.supicon{
   
    display: flex;
    
}
.supicon a{
    text-decoration: none;
 
}
.supicon li{
    margin-top: 19px;
    list-style: none;
    padding-left: 5px;
    text-decoration: none;
    color: #757575;
}
.safeicon img{
   margin-top: 15px;
}
#space{
    padding-left: 30px;
    padding-right: 30px;
}
.off{
    margin-top: 50px;
}
.Categories p{
    
    font-family: Roboto-Regular;
    font-size: 30px;
    color: #000000;
    margin-left: 112px;
    margin-top: 20px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cat{
    /* border: 2px solid black; */
    /* background-color:white; */
    width:80%;
    height: 300px;
    margin-left:112px;
}
.cat img{
    object-fit: contain;
}
.card-box{
    border: 2px solid black; 
     background-color:white;
    width:80%;
    height: 300px;
    margin-left:112px;
}
.btn{
    /* border: 2px solid black; 
     background-color:white; */
   display: flex;
   justify-content: center;
 margin-top: 350px;
}
.btn button{
    width: 150px;
    height: 40px;
    border: 1px solid black;
    background-color: #f6f6f6;

}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.head{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
}
.loginpage{
    background-color: #ffffff;
    width: 50%;
    height:400px;
    margin: 50px auto;
    border-radius: 30px;

}
.loginpage p{
font-size:2rem;
text-align: center;
padding-top: 80px;
font-weight: 800;
}
.login{
    display: flex;
   align-items: center;
    flex-direction: column;
}
.login input{
    width: 80%;
    height: 50px;
    border:1px solid black;
    border-radius: 5px;
    /* padding-left: 20px; */
}
.login input::placeholder{
   text-transform: capitalize;
   padding-left: 20px;
}
.login button{
    width: 80%;
    height: 50px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    background-color: #f85606;
    color: white;
    font-size: 20px;
 }